{%  extends 'base.html'  %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col text-center m-4">
            <h4>Historial de registros</h4>
        </div>
    </div>
    
    {% if object_list %}
    {% for post in object_list %}
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">{{post.content}} escrito por <b>{{post.user}}</b></a>
     </div>
    {% endfor %}
    {% else %}
    <h2>No existe contenido registrado</h2>
    {% endif %}

{% endblock content %}