{%  extends 'base.html'  %}
{% load static %}
{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de estudiantes</h6>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr class="bg-dark">
                    <th scope="col">Alumno</th>
                    <th scope="col">Rut</th>
                    <th scope="col">Carrera</th>
                </tr>
            </thead>
            <tbody>
                {% if object_list %}  <!-- SE USA OBJECT_LIST SOLO PARA VISTAS BASADAS EN CLASES, PARA FUNCIONES USAR DICCIONARIO-->
                {% for student in object_list %}
                <tr>
                    <td><a style="text-decoration: none; color: darkslategray;" href="{% url 'alumno:detalles' student.id %}">{{student.nombres}} {{student.apellidos}}</a></td>
                    <td><a style="text-decoration: none; color: darkslategray;" href="{% url 'alumno:detalles' student.id %}">{{student.rut}}</a></td>
                    <td>{{ student.carrera }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <h2>No existe contenido registrado</h2>
                {% endif %}
            </tbody>
    </div>
</div>


    

{% endblock content %}

